*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 856px;
    margin: 0 auto;
}
.menu__list {
display: inline-block;
list-style: none;
}
.menu__list-items {
    display: inline-block;
    margin-right: 67px;
}
.menu__items-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    color: black;
    text-align: center;
}
.header__menu {
   width: 652px;
   margin: 0 auto;
   padding: 32px 0;
}
.image__block {
    background-color: #00BDC9;
    padding: 92px 0;
}
.image__in-block {
    text-align: center;
}
.css-work__title {
font-size: 48px;
font-weight: 600;
line-height: 64.8px;
text-align: center;
color: black;
}
.css-work__text {
font-size: 21px;
font-weight: 500;
line-height: 31.5px;
text-align: left;
color: #161616;
}
.css-work__dedicated-text {
    color: #04959E;
}
.css-work__details {
    padding: 40px 0;
}
.about__css-work {
    padding: 88px 0;
}
.css-work__list-items {
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: #161616;
}
.css-work__list-block {
    padding-top: 24px;
}
.Learn-more {
    padding: 10px;
    text-align: center;
}

.Learn-more__button {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: center;
    color: white;
    background-color: #04959E;
    padding: 10px 24px;
}
.footer__text {
    display: inline-block;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: center;
color: #161616;
}
.footer__text-block {
    padding-block: 16px;
    border-top: 1px solid #000;
    text-align: center;
}

